<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>EmailSendingWebApp</display-name>
    <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>meeTeamSoporte@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>meeTeam.prueba</param-value>
    </context-param>
    <servlet>
        <servlet-name>GestionarLogin</servlet-name>
        <servlet-class>controlador.GestionarLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GestionarLogin</servlet-name>
        <url-pattern>/GestionarLogin</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>controlador</servlet-name>
        <servlet-class>controlador.controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionarRegistro</servlet-name>
        <servlet-class>controlador.GestionarRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionarRecuperarPassword</servlet-name>
        <servlet-class>controlador.GestionarRecuperarPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionarSalirSesion</servlet-name>
        <servlet-class>controlador.GestionarSalirSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionarEliminarCuenta</servlet-name>
        <servlet-class>controlador.GestionarEliminarCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionarBusGenteCerca</servlet-name>
        <servlet-class>controlador.GestionarBusGenteCerca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionarBusGenteCerca2</servlet-name>
        <servlet-class>controlador.GestionarBusGenteCerca2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionarCambiarPassword</servlet-name>
        <servlet-class>controlador.GestionarCambiarPassword</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>GestionarCodUsuAjeno</servlet-name>
        <servlet-class>controlador.GestionarCodUsuAjeno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionarAjenoInfo</servlet-name>
        <servlet-class>controlador.GestionarAjenoInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionarMiInfo</servlet-name>
        <servlet-class>controlador.GestionarMiInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionarBorradoImgVid</servlet-name>
        <servlet-class>controlador.GestionarBorradoImgVid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionarBloqueados</servlet-name>
        <servlet-class>controlador.GestionarBloqueados</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>GestionarDesbloqueados</servlet-name>
        <servlet-class>controlador.GestionarDesbloqueados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionarFavoritos</servlet-name>
        <servlet-class>controlador.GestionarFavoritos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionarQuitarFavoritos</servlet-name>
        <servlet-class>controlador.GestionarQuitarFavoritos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionarResetNumFavoritos</servlet-name>
        <servlet-class>controlador.GestionarResetNumFavoritos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionarVisitas</servlet-name>
        <servlet-class>controlador.GestionarVisitas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionarResetNumVisitas</servlet-name>
        <servlet-class>controlador.GestionarResetNumVisitas</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>GestionarIncluirAmistoso</servlet-name>
        <servlet-class>controlador.GestionarIncluirAmistoso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionarEliminarAmistoso</servlet-name>
        <servlet-class>controlador.GestionarEliminarAmistoso</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controlador</servlet-name>
        <url-pattern>/controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionarRegistro</servlet-name>
        <url-pattern>/GestionarRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionarLogin</servlet-name>
        <url-pattern>/GestionarLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionarRecuperarPassword</servlet-name>
        <url-pattern>/GestionarRecuperarPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionarSalirSesion</servlet-name>
        <url-pattern>/GestionarSalirSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionarEliminarCuenta</servlet-name>
        <url-pattern>/GestionarEliminarCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionarBusGenteCerca</servlet-name>
        <url-pattern>/GestionarBusGenteCerca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionarBusGenteCerca2</servlet-name>
        <url-pattern>/GestionarBusGenteCerca2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionarCambiarPassword</servlet-name>
        <url-pattern>/GestionarCambiarPassword</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>GestionarCodUsuAjeno</servlet-name>
        <url-pattern>/GestionarCodUsuAjeno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionarAjenoInfo</servlet-name>
        <url-pattern>/GestionarAjenoInfo</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>GestionarMiInfo</servlet-name>
        <url-pattern>/GestionarMiInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionarBorradoImgVid</servlet-name>
        <url-pattern>/GestionarBorradoImgVid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionarBloqueados</servlet-name>
        <url-pattern>/GestionarBloqueados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionarDesbloqueados</servlet-name>
        <url-pattern>/GestionarDesbloqueados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionarFavoritos</servlet-name>
        <url-pattern>/GestionarFavoritos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionarQuitarFavoritos</servlet-name>
        <url-pattern>/GestionarQuitarFavoritos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionarResetNumFavoritos</servlet-name>
        <url-pattern>/GestionarResetNumFavoritos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionarVisitas</servlet-name>
        <url-pattern>/GestionarVisitas</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>GestionarResetNumVisitas</servlet-name>
        <url-pattern>/GestionarResetNumVisitas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionarIncluirAmistoso</servlet-name>
        <url-pattern>/GestionarIncluirAmistoso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionarEliminarAmistoso</servlet-name>
        <url-pattern>/GestionarEliminarAmistoso</url-pattern>
    </servlet-mapping>        
    <error-page>
        <error-code>404</error-code>
        <location>/vista/errorPage.jsp</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/index.jsp</location>
    </error-page>
</web-app>
