/*Paneles Crea tu perfil, realiza la búsqueda y comienza la interacción*/

.panel-body{
    padding-top: 0;
}
.panel-heading{
    border-radius: 0px;

}
.panel{
    border: solid 3px;
    border-color: #337ab7 !important;
    border-radius: 6px;
}
.panel .panel-default{
    border: 1px solid transparent !important;
}
.pad{
    padding: 2px !important;
    margin-top: 10px !important;
}

/*Jumbotron*/

.jumboindex{
    background-image: url(../img/jumboradial.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat; 
    min-height: 250px;
}
.container .jumbotron,
.container-fluid .jumbotron {
    border-radius: 0px;
}

/*Contenedor de anchura variable*/

.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

/*navBar*/

.navbar {
    background-color: #337ab7;
    margin:0; /*add this*/
}
.navbar .nav > li > a {
    color:  whitesmoke;
    font-weight: bold;
}
.navbar-inverse .navbar-brand{
    color: whitesmoke;
    font-weight: bold;
    font-size: 200%;
    font-family: Corbel, Arial, Helvetica, sans-serif !important;
}

/*Ventanas modales*/

.modal-dialog { 
    max-width: 550px;
}
textarea {
    resize: none;
}

/*Paneles y radio*/

.list-group .list-group-item .radio{
    padding: 1px !important;
    margin-left: 20px !important;
    font-weight: normal;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

/*Carrusel*/

#contenedor #myCarousel{
    margin-bottom: 30px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    padding: 0px !important;
    border:solid 2px !important;
    border-radius: 6px !important;
    border-color: #337ab7 !important;
    background-color: #337ab7 !important;
    min-height:160px !important;
}
.h1c{
    display:block;
    margin-bottom: 5px !important;
    color:#ffff33;
    font-size: 300%;
    font-weight: bold;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

/*footBar*/

footer{
    margin-top: 15px;
    font-family: Corbel, Arial, Helvetica, sans-serif !important;

}
h4{
    font-family: Corbel, Arial, Helvetica, sans-serif !important;
    font-size: 180%;
}

/*Pagina Error*/

#anima{
    width:295px;
    height:375px;
    background:url('../img/errorr300.jpg') no-repeat;
    margin:140px auto 20px;
    margin-top:20px;
    position:relative;
}

#btnLocalidad{
    display: none;
}

/*Sacado de boostrap. Menos distancia entre los radio butons y el nombre*/
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
    
    margin-left: 1px;
}

.contador{
    font-weight: bold;
    font-size: 85%;
    width: 50%;
    margin: 0 auto;
    margin-top: 15px;
}

.conta{
    width: 50%;
    margin: 0 auto;
}
